  	<div class="section">
		<h2>Demo Index</h2>
		<p>Intro content goes here. </p>
		<ul>
			<li><a href="#">View all news</a></li>
			<li><b>Admin: </b><a href="#">Add new item</a></li>
		</ul>
		</div>
