<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "=//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
    <head>
	
   <title>Club Home</title>
      <link href="/theme.css" rel="stylesheet" type="text/css"  media="all"  />
    </head>
<body class="template-index">
<div id="container">
	<div id="header"><h1>Club Home</h1></div> 
	
	<div id="mainnav">
		<ul>
		<li><a href="#">Signup</a>
		<li><a href="#">Login</a>
		<li>|
		<li><a href="#">Welcome</a> Daniel
		<li><a href="#">Logout</a>
		</ul>
	</div>
	
	<div id="menu">

	<h3>Information</h3>
	<ul>
    <li><a href="/pages/about-us">About Us</a></li>
    <li><a href="/">Link</a></li>
	</ul>

	<h3>Location <a href="#">&raquo</a></h3>
	<h3>Calendar <a href="#">&raquo</a></h3>
	<h3>Request Information <a href="#">&raquo</a></h3>
	<h3>Try a Free Class <a href="#">&raquo</a></h3>
	<h3>Make An Appointment <a href="#">&raquo</a></h3>
	<h3>Leaderboard <a href="#">&raquo</a></h3>
	<h3>Shop <a href="#">&raquo</a></h3>


	</div>

	<div id="contents">

<%= yield %>

  </div>


	
	<div id="footer">
		&copy; 2013 Acelix | Domain
	</div>
</div>
</body>
</html>
